*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "blocks/header";
@import "blocks/top-screen";
@import "blocks/service";
@import "blocks/works";
@import "blocks/testimonials";
@import "blocks/footer";
