.testimonials {
  padding: 67px 0 91px;
  background-color: #efefef;
  text-align: center;
  &__quotation-mark {
    width: 37.5px;
    height: 29.3px;
    margin: 0 0 36px;
  }
  &__paragraph {
    width: 875px;
    font-family: "Roboto Slab";
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #a1a1a1;
    margin: 0 auto 0;
  }
}
